*{
  margin: 0;
  padding: 0;
}
img{
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .background-svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    overflow: hidden;
    svg {
      width: 100%;
      height: 100%;
      display: block;
      background-color: #2285cc;
      background-image: linear-gradient(to bottom, rgba(37, 134, 204, 0.86), #156096);
    }
  }
  header, main {
    position: relative;
    z-index: 1; 
  }
}

@import "menu";


$titulos: #ffffff;
$botones: #2a01c0;
$colorTituloCartas: #320cb8;
$letraTitulos: "Chakra Petch", sans-serif;
$duracionTransicion: 0.5s;


@mixin containerWidth($width: 100%) {
  width: $width;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.cont-section__main{
  margin-bottom: 4%;
  h1{
    margin-top: 1.5%;
    margin-bottom: 1%;
    text-align: center;
    color: $titulos;
    font-family: $letraTitulos;
    font-weight: 600;
  }
  #cont-carrusel{
    @include containerWidth(83%); 
    align-items: center;
  }
  .carousel-item {
    transition: transform 1s ease-in-out; 
  }

}
.cont-seccion__productos{
  margin-top: 5%;
  margin-bottom: 5%;
  @include containerWidth();
  height: max-content;
}

.cont-acordeon__productos{
  margin-bottom: 15%;
}

.accordion-item:first-child .accordion-button{
  background-color: $botones;
  transition: background-color $duracionTransicion ease;
  &:hover{
    background-color: $botones;
    transition: background-color $duracionTransicion ease;
    &:not(.collapsed) {
      transition: background-color $duracionTransicion ease;
      background-color: $botones;
    }
  }
}
.accordion-button {
  transition: background-color $duracionTransicion ease;
  &:hover {
    transition: background-color $duracionTransicion ease;
    background-color: $botones; 
  }
}
.accordion-collapse {
  transition: height $duracionTransicion ease, opacity 1s ease;
  .collapsing {
    opacity: 0;
    .show {
      opacity: 1;
    }
  }
}
#boton-acordeon{
  color: black;
  font-weight: bolder;
  transition: color $duracionTransicion ease;
  &:hover{
    transition: color $duracionTransicion ease;
    color: $titulos;
  }
}

$colorBotonSecciones: (
  ofertas: #3a0000,
  terror: #01004e,
  aventuraRPG: #004204,
);
@each $name, $color in $colorBotonSecciones {
  .bg-#{$name} {
    .card{
      &::after{
        background-color: $color;
      }
    }
  }
}

.card {
  margin-top: 10%;
  position: relative;
  width: 330px;
  height: 400px;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
  margin-bottom: 7%;
  cursor: pointer;
  transition: all 120ms;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 0.5em;
  padding-bottom: 3.4em;
  .title {
    font-size: 22px;
    position: absolute;
    left: 0.625em;
    bottom: 1.875em;
    font-weight: 600;
    font-family: $letraTitulos;
    color: $colorTituloCartas;
  }
  .price {
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    left: 0.625em;
    bottom: 0.625em;
    color: #000;
  }
  .text {
    max-width: 55px;
  }
  .image {
    background: rgb(241, 241, 241);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    margin-bottom: 15px;
  }

  &::after {
    content: "Add to Cart";
    position: absolute;
    left: 0;
    bottom: -60px;
    background: $botones;
    color: #fff;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
    transition: all 80ms;
  }
  &:hover::after {
    bottom: 0;
    opacity: 1;
  }
  &:active {
    transform: scale(0.1);
  }
}

@import "footer";


